.header {
  position: fixed;
  top: -6px;
  display: flex;
  padding: 16px 0;
  width: 100%;
  background-color: #ff7d01;
  text-decoration: none;
  justify-content: space-between;
  height: 100px;
  margin-top: 0px;
  z-index: 999;

  img {
    margin-left: 90px;
    height: 70px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 40px;

      @media (max-width: 1280px) {
        display: none;
      }
    }
  }

  .menu ul li {
    cursor: pointer;
    padding-bottom: 5px;
    position: relative;
  }

  .menu ul li.active {
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid #fff;
  }

  .action {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 40px;
    margin-right: 24px;
    color: #fff;

    .btn {
      display: block;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 14px;
      &:hover {
        cursor: pointer;
      }
    }

    .btn-expert {
      background-color: #fff;
      color: #ff7d01;
      border: none;
      border-radius: 6px;
    }

    .btn-student {
      background-color: #ff7d01;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
      width: 160px;
    }

    .cart {
      position: relative;
      font-size: 24px;
      color: #fff;

      .cartBadge {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: #ffc801;
        color: #fff;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 10px;
      }
    }

    .search {
      display: flex;
      align-items: center;
      border: 1px solid #d3dce6;
      border-radius: 30px;
      padding: 3px 6px;
      width: fit-content;
      width: 170px;
      transition: width 0.3s ease;

      &:focus-within {
        width: 600px;
      }

      .searchIcon {
        font-size: 32px;
        color: #fff;
        margin-right: 8px;
      }

      .searchInput {
        border: none;
        outline: none;
        padding-left: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        width: 100%;
        height: 20px;
        background-color: transparent;

        &::placeholder {
          color: #707070;
        }
      }
    }

    .points {
      display: flex;
      align-items: center;
      margin-left: 20px;
      .coinIcon {
        font-size: 24px;
        color: gold;
      }

      .pointsText {
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
      }
    }

    .searchInput.active {
      width: 300px;
      opacity: 1;
    }
  }
}
.userProfile {
  a {
    font-size: 18px;
  }
  .avatar {
    margin-right: 8px;
  }
}
